/* #262d36 */
.primary-bg{
    background-color: #262d36;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    background-color: #262d36;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #fff;
}
.nav-item{
    padding: 0 15px;
    color:#fff;
}
.nav-item a{
    color: #fff;
}
.nav-item a:hover{
    color: #f1c40f;
}
.nav-item.active a{
    color: #f1c40f;
}
.nav-item :active a{
    color: #f1c40f;
}
.active{
    color: #f1c40f;
}
.navbar-toggler{
    color: #fff;
}
#dropdown-menu{
    background-color: #262d36;
    color: #fff;
}
.custom-border {
    border: 1px solid white;
    border-radius: 1px;
    padding: 5px 10px;
  }